.popup__error {
  display: block;
  min-height: 30px;
  margin-top: 5px;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  opacity: 0;
  transition: opacity 0.3s;
}

.popup__error_visible {
  opacity: 1;
} 